/* importamos una fuente de letra para el header  */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/* Hacemos el titulo un pelín más grande */
.titulo {
    /* implementamos ese tipo de letra */
    font-family: "MedievalSharp", cursive;
    text-align: center; 
    
    padding-top: 1em;
}
body{
    font-family: "MedievalSharp", cursive; 
}
header{
    background-color: #f4e8c1;
    height: 10em;
    
}
.color{
    background-color: #f4e8c1;
}
.fondoHeader{
    background-image: url('img/silueta.png'); 
    background-size: cover; 
    background-position: center; /* centramos la imagen */
    height: 100px; 
    width: 100%; /* nos aseguramos de que ocupe todo el ancho del contenedor */
    margin-top: 1.5em;
}
.logo{
    width:100%;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}


/*customizamos el menú*/
nav {
    position: sticky;
    top: 0; 
    padding: 3em;
    background-color: #3e2a47; 
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    overflow: hidden;

}

nav a {
    font-family: "MedievalSharp", cursive;
    color: #f4e8c1; 
    text-decoration: none; 
    font-size: 2vh; 
    transition: all 0.7s ease; 
}

nav a:hover {
    /* Estilos que aplico al pasar el ratón por la barra de navegación */
    background-color: #c1a46d; 
    color: #2c3e75; 
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7); 
    transform: translateY(-5px); 
}

main p{
    font-size: x-large;
}
/* estilos para el gif */
.gif{
    width: 85%;
    display: flex;
    justify-self: center;
    margin-top: 2em;
}
/* estilos para el index */
.imgasideindex{
    width: 95%;
    margin-right: 1em;
    margin-bottom: 1em;
}
.divcertificado{
    margin-left: 9em;
}
.p_article{
    font-size: large;
    margin-top: 0;
    margin-right: 2em;
}
.p_certificado{
    font-size: 1em;
}
.p_aside{
    font-size: 0.9em;
}

.fondogris{
    background-color: lightgrey;
}
footer{
    background-color: lightsalmon;
}
/* estilos para la galería, para centrar las imágenes */
.mercadosmarginleft{
    margin-left: 2.6em;
    color: black;
}
.titPagina{
    text-align: center;
    font-size: 3em;
}
.titContacto{
    font-size: 3em;
}
.p_contacto{
    font-size: 2em;
    /* establecemos un poco de padding para ajustar la información al icono */
    padding-top: 0.4em;
    padding-left: 4em;
    
}
/* estilos para el formulario */
.iconocontacto{
    margin-bottom: 3em;
    margin-left: 2em;
}
article input{
    height: 3.5em;
}
article button{
    height: 4em;
    border-radius: 2em ;
}
.p_formulario{
    font-size: 1em;
    margin-top: 0;
}
.titInicio{
    font-size: 3em;
}
/* Estilos para sobre nosotros */
.historiaimgmargin{
    margin-bottom: 1em;
    width: 90%;
}
.imgartindex{
    width: 92%;
}
.marginleft15{
    margin-left: 1.5em;
}

.p_historia{
    padding-right: 2.5em;
}
/* justificamos los párrafos */
body p{
    text-align: justify;
    
}
/* estilos para el footer */
footer{
    margin-top: 2em;
}
/* establecemos estilos de la barra final para el mapa del sitio */
footer a {
    font-family: "MedievalSharp", cursive;
    color: white; 
    background-color: black;
    text-decoration: none; 
    font-size: 2vh; 
    transition: all 0.7s ease; 
    text-align: center;
}
footer p{
    margin-left: 4em;
    padding-bottom:2em ;
}
.imgministerio{
    margin-left: 2em;
}
.aposicion{
margin-left: 3em;
}